body{
  font-family: verdana;
}

td {
  font-family: Baskerville, serif;
  font-size: 2em;
  text-align: center;
  border: 3px solid black;
  width: 300px;
  height: 300px;
  cursor: pointer;
}

.board{
  width: 600px;
  height: 600px;
  margin: auto;
  border-collapse: collapse;
}

.square {
  width: 200px;
  height: 200px;
  border: 5px solid black;
  font-size: 2em;
  text-align: center;
}

.square:hover{
  cursor: pointer;
}

#message{
  font-size: 1.5em;
  font-weight: bold;
  color: red;
}
